<html>
<head>
<meta http-dquiv="Content-Type" content="text/html" charset="utf-8">
<!-- 공통 CSS, JS 선언 -->
<link href="http://ncpms.rda.go.kr/css/api.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://ncpms.rda.go.kr/js/framework.js"></script>
<script type="text/javascript" src="http://ncpms.rda.go.kr/js/openapi_pred.js"></script>

<script type="text/javascript">
	// Api Key
	npmsApiRequestInfo.apiKey = "2020bc251a4e18ca0830201bff4ebe390037";//apiKey - NCPMS에서 신청 후 승인되면 확인 가능
	//서비스 코드
	npmsApiRequestInfo.serviceCode = "SVC32";
	//크로스 도메인 처리를 위한 콜백페이지
    npmsApiRequestInfo.callback = "http://1f2bb490d9d0.ngrok.io/time2";
    npmsApiRequestInfo.proxyUrl = "http://1f2bb490d9d0.ngrok.io/time2";
    npmsApiRequestInfo.div_id = 'npms_api_data'
    npmsApiRequestInfo.width = 1000;
    npmsApiRequestInfo.cropList = new Array(
			'FT060614',//감귤
			'FC050501',//감자
			'VC011205',//고추
			'FC010101',//논벼
			'FT010602',//배
			'FT010601',//사과
			'VC041202',//파
			'FT040603'//포도
			);
</script>
</head>

<body>
<div id="npms_api_data"></div><!-- HTML 로딩 영역 -->
</body>
</html>